@charset "UTF-8";

div#fora {
    background-color: purple;
    height: 96vh;
    position: relative;
    
}

div#dentro {
    background-color: yellow;
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}