@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: iDroid;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #83E1AF;
    --cor1: #3DDB87;
    --cor2: #2FA868;
    --cor3: #1A5C39;
    --cor4: #355C47;
    --cor5: #063D1E;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'iDroid', cursive;

}

*{ /* config. globais */
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-color: var(--cor3);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
}

header > p {  /*dá pra fazer sem child*/
    color: white;
    font: normal normal normal 1.2em var(--fonte-padrao);
    max-width: 600px;
    margin: auto; 
    padding: 0px 10px 0px 10px;
    padding-bottom: 10px; 
}

header h1 {
    color: var(--cor2);
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    text-decoration: none;
    color: var(--cor0);
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: .5s; /*0.5s*/
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

main img.peq {
    max-width: 350px;
    display: block; /*tem que fazer isso pq imagens não são blocos*/
    margin: auto;

}
main h1, main > article > h2 { /*olha os dois jeitos*/
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h1 /*h1 em article, não pode '>'*/ {
    color: var(--cor5);
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(90deg, var(--cor1),transparent);
    text-indent: 8px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main p {
/* não pode '>' pq tem article ainda: esse 'main p' serve pra p dentro de main em qualquer nível*/
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.281);
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\0020\00a0'/*0020 e 00a0 são space, não compatível c/ todos os navegadores*/;
}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover { 
    text-decoration: underline;
    color: var(--cor1);
}


